:root {
    --yellow: #ffff00;
   --darkblue: #00008b ;
}

.pure-u-1 {
    font-size: 40px;
    color: #ffff00;
    text-align: center;
    background-color: var(--darkblue);
    padding: 30px;

}

.form-label {
    font-size: 20px;
}

.card-header {
    font-size: 30px;

text-align: left;
}

.card-body {
    text-align: left;
}

.subtitle {
    text-align: left;
}

.btn {
    background-color: gray;

}

